.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  width: 300px;
  margin-top:20px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 12px;

}
.card:hover{
  transform: rotate(3deg);
  border: 2px solid white;
  box-shadow: 6px 10px 9px 6px #eee;
}

.card-img{
  width:100%;
  border-radius: 12px;
}
.flex{
  display: flex;
  justify-content: center;
  gap:12px;
  flex-wrap: wrap;
}

.card-header{
  position: relative;
}
.ratings{
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  margin: 12px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 6px;
}
.card-flex{
  display: flex;
  justify-content: space-between;

}
.must-try{
  background-color: rgb(182, 246, 182);
  border-radius: 6px;
  color: black;
  padding: 5px 10px;
}
.d-none{
  display: none;
}

.btn{
  border: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 14px;
  margin: 10px;
}