.card{
    border: 1px solid gray;
    margin: 12px auto;
    width: 500px;
    padding: 16px;
    border-radius: 12px;
}
.btn{
    border: none;
    border-radius: 12px;
    padding: 16px 32px;
    background-color: rgb(25, 4, 255);
    color: white;
}
.card-img{
    width: 100%;
    border-radius: 12px;
    
    
}

.user{
    border: 1px solid gray;
    margin: 12px auto;
    width: 500px;
    padding: 12px;
    border-radius: 16px;
    text-align: center;
}
.btn{
    border: none;
    border-radius: 16px;
    padding: 16px 32px;
    background-color: rgb(25, 4, 255);
    color: white;
}
.user-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
   
}